{:paths ["src"]
 :deps
 {dali {:mvn/version "1.0.2"}}
 :aliases
 {:test {:extra-paths ["test/main/clojure"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}
         :main-opts   ["-m" "kaocha.runner"]}}}
